<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF</title>
</head>

<body>
    <h1 style='color: red'>OI BB</h1>
    <img src='https://www49.bb.com.br/pagar-receber/assets/img/logo.png' <hr>
    <h2>
        <%= categoria %>
    </h2>
    <p> Oi <%= nome %>, beleza?</p><br>
    <p> seu email é <%= email %>?

            <p> imagem tem que ta na web para ser adicionada, no local nn funfa</p>
</body>

</html>